@model mvc_entity.Models.Customer
<table style="font-family:Arial;border:1px solid black;width:300px">
    <tr>
        <td>
        </td>
    </tr>
    <td>
        <table>
            <tr>
                <td><b>CustCode:</b></td>
                <td>@Model.custid</td>
            </tr>
            <tr>
                <td><b>CustName:</b></td>
                <td>@Model.custname</td>
            </tr>
        </table>
    </td>
</table>


